<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us!</title>
    <link rel="stylesheet" href="/app.css"/>
</head>
<body>
    <header>
        <h1>Who are we?</h1>
    </header>
        <h2>About Us</h2>
        <section> 
            Garden City Professionals is an organization  designed to help young professionals in the Augusta area network and</br>
            give back to their community. We want to make it easy for you to become involved in all that Augusta has to offer.</br>
            Here at Garden City Professionals, we support our city, non-profits, businesses, organiztions, and YOU. We were</br>
            founded in 2018 and we have a big dream to make Garden City a better place by developing the skills and relationships</br>
            of the young professionals in the area.</br>
        </section>
        <h2>Our Principles</h2>
        <section>
            We are founded on the principle that young professionasl are valuable source</br>
            to their city-- a source of networking, community service, and outreach. </br>
            Garden City Professional Group is designed to help young professionals blossom </br>
            together and learn from one another. </br>
        </section>
</body>
</html>