<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Augusta Professional Network</title>
    <link rel="stylesheet" href="/app.css"/>
  </head>
  <body>
    <header>
    <h1>Welcome to Garden City Professional Network!</h1>
    </header>
    <nav class="index">
      <ul>
      <li><a href="/business/aboutus">About Us</a></li>
      <li><a href="/business/cityguide">City Guide</a></li>
      <li><a href="/auth/signup">Sign Up</a></li>
      <li><a href="/auth/login">Log In</a></li>
      <li><a href="/auth/logout">Log Out</a></li>
      </ul>
    </nav>
    <br/>
    <br/>
    <div class="homepage">
    <section class="Welcome">
      <b>Welcome Professional,</b> <br/>
          We are committed to your overall success and development while you spend time with us her in Augusta! The purpose of our organization is connect <br/>
          professionals in the area with one another through social otings, career fairs, and online communication. Please use to the link at the top sign up for <br/>
          our site to start meeting new people and start recieving our monthly calendar and newsletter!
    </section>
    <br/>
    <h2>Member Testimonials</h2>
    <section class="Testomonial">
      <div class="htext">
      <i>"I always have an amazing time attending events the Professional Network puts on for us. It really helps us connect to people in the area especially <br/>
      people like me moving from Iowa all the way to Augusta, GA. Joining the netowrk was one of the best decisions I have ever made."</i><br/>
      <b>~Paul Sink (Member since 2018)</b>
      </div>
      <img class='Paul'src="https://i.imgur.com/V3ygZ3vm.jpg" alt="Professionals Paintball">
    </section>
    <br/>
    <br/>
    <section class="Testomonial">
      <div>
      <i>"The Professional Network has brought me family away from my family. There are thousands of people in the area who have moved away from home and do not<br/>
      have any family here. They have created a family oriented energy with everything the group does. I appreciate everything they have done for me and other <br/>
      professionals in the area. I'll never forget the experiences I have made here and the friendships for life"</i><br/>
    <b>~Ted Grozio (Member since 2018)</b>
      </div>
      <img src="https://i.imgur.com/fx8bZwbm.jpg" alt="Professionals Friendsgiving">
    </section>
  </div>
  </body>
</html>
