<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Augusta Professional Network</title>
    <link rel="stylesheet" href="/app.css"/>
  </head>
  <body>
    <header>
    <h1>Welcome to Augusta's Professional Network!</h1>
    </header>
    <nav>
      <a href="#">About Us</a>
      <a href="#">City Guide</a>
      <a href="/auth/signup">Sign Up</a>
      <a href="/auth/login">Log In</a>
      <a href="/auth/logout">Log Out</a>
    </nav>
    <br/>
    <br/>
    <section class="Welcome">
      Welcome Professional, <br/>
          We are committed to your overall success and development while you spend time with us her in Augusta! The purpose of our organization is connect <br/>
          professionals in the area with one another through social otings, career fairs, and online communication. Please use to the link at the top sign up for <br/>
          our site to start meeting new people and start recieving our monthly calendar and newsletter!
    </section>
    <br/>
    <br/>
    <section class="Testomonial">
      "I always have an amazing time attending events the Professional Network puts on for us. It really helps us connect to people in the area especially <br/>
      people like me moving from Iowa all the way to Augusta, GA. Joining the netowrk was one of the best decisions I have ever made."<br/>
      ~Paul Sink (Member since 2018)
      <img src="https://i.imgur.com/V3ygZ3vm.jpg" alt="Professionals Paintball">
    </section>
    <br/>
    <br/>
    <section class="Testomonial">
      "The Professional Network has brought me family away from my family. There are thousands of people in the area who have moved away from home and do not<br/>
      have any family here. They have created a family oriented energy with everything the group does. I appreciate everything they have done for me and other <br/>
      professionals in the area. I'll never forget the experiences I have made here and the friendships for life"<br/>
      ~Ted Grozio (Member since 2018)
      <img src="https://i.imgur.com/fx8bZwbm.jpg" alt="Professionals Friendsgiving">
    </section>
  </body>
</html>
