<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Network</title>
    <link rel="stylesheet" href="/app.css"/>
</head>
<body>
    <header>
        <h1>Garden City Professional Network</h1>
    </header>
    You made it!
</body>
</html>