<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Augusta Locals</title>
    <link rel="stylesheet" href="/app.css"/>
</head>
<body>
    You made it!
    <ul>
        <% for(let i=0; i<businesses.length; i++) { %> </a>
            <li>
                <%=businesses[i].name%>
            </li> 
            <% } %>
    </ul>
</body>
</html>